@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
  background-color: #222;
  color: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
  font-size: 3rem !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}

.logo {
  max-width: 250px;
}

@media screen and (max-width: 575px) {

.logo {
  max-width: 150px;
}
.material-symbols-outlined {
  font-size: 2rem !important;
}
}