/* 
CASINO FINDER ARTICLES STYLESHEET

SECTIONS: 
*/

/* GENERAL */

:root {
    --color-background: #f1f1f1;
    --color-background-2: #FFF;
    --color-background-nav: #FFF;

    --color-default: #04111E;
    --color-accent-1: #088B33;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
}

.text-accent {
    color: var(--color-accent-1) !important;
}


.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    gap: 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-default);
}

/* HERO */

.carousel {
    height: inherit;
}
.carousel-indicators {
    bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    
}

.carousel-indicators [data-bs-target] {
    position: relative;
    height: 3px;
    min-width: 150px;
    overflow: hidden;
}

.carousel-indicators [data-bs-target]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: green;
}

.carousel-indicators .active[data-bs-target]::before {
    width: 100%;
    transition: width 5s ease-in;
}

.carousel-inner {
    display: flex;
    min-height: 500px;
    object-fit: cover;
    bottom: 0;
    bottom: 0;
}
.carousel-item img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}


.hero-container {
    background-image: url(../img/blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}

.hero-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 750px;
    margin-top: 20px;
}

.hero-box * {
    color: #FFF;
}

.hero-box h1 {
    color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 70px !important;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 84px */
letter-spacing: -1.4px;

}
.sub{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 36.4px */
    width: 453px;
}

.last-update {
    opacity: 0.5;
    gap: 15px;
    font-size: 14px;
}

.last-update img {
    margin-right: 15px;
    opacity: 1;
}

/* LATEST NEWS */

.blog {
    overflow: hidden;
}

.blog h2 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.card-news {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1% 0;
}


.card-news img {
    border-radius: 6px;
    object-fit: cover;

}

.card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.read-more {
   align-self: end;
}


.ribbon-wrapper {
    display: flex;
}

.ribbon {
    padding: 5px 12px;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    background: #088B33;
    font-size: 14px;
    text-align: center;
}

.text-ribbon {
    color: rgba(255, 255, 255);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.ribbon-date {
    color: rgba(255, 255, 255, 0.5);
}

.blog-hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 64px;
}

.btn-read {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    border-radius: 4px;
    padding: 8px;
}

.btn-read {
    color: var(--color-accent-1);
    background-color: rgba(8, 140, 52, 0.1);

}

.btn-read:hover {
    color: #fff;
    background-color: var(--color-accent-1);

}





/* LATEST NEWS */


.star-logo {
    background: linear-gradient(to bottom,
            var(--color-background) 0%,
            var(--color-background) 50%,
            var(--color-background-3) 50%,
            var(--color-background-3) 100%)
}

.latest-news {
    overflow: hidden;
    background: var(--color-background-3);
    color: #FFF;
}

.latest-news h2,
.latest-news h3 {
    color: #fff;
}

.card-news img {
    border-radius: 6px;
    object-fit: cover;
}

.ribbon-wrapper {
    height: 20px;
}

.ribbon {
    box-sizing: border-box;
    position: absolute;
    padding: 5px 12px;
    align-items: center;
    gap: 10px;
    background: #088B33;
    font-size: 14px;
    text-align: center;
    z-index: 100;
    margin-top: -29px;
}

.text-ribbon {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 8px;
}

.ribbon-date {
    color: rgba(255, 255, 255, 0.5);
}

.latest-news-hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 4rem;
}


@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {

    i {
        height: 20px;
        margin-left: 15px;
    }

    .hero-box .icons {
        padding: 0 6%;
    }

}


@media screen and (max-width: 991px) {




    .blog {
        padding: 0.5rem;
    }
    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow-x: hidden;
        gap: 12px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 19.6px */
    }

    .hero-container {
        background-image: url(../img/homepage/hero.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }

    .card-news {
        display: flex;
        flex-direction: row;
        padding: 3% 0;
        border-bottom: 1px solid var(--color-border);
    }

    .card-news:last-of-type {
        border-bottom: none;
    }

    .card-description p {
        margin-bottom: 5px;
    }

}


@media screen and (max-width: 767px) {

    
.carousel {
    height: inherit;
    width: 100%;
}
.carousel-indicators {
    bottom: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    
}

.carousel-indicators [data-bs-target] {
    position: relative;
    height: 3px;
    min-width: auto;
    overflow: hidden;
}

.carousel-indicators [data-bs-target]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: green;
}

.carousel-indicators .active[data-bs-target]::before {
    width: 100%;
    transition: width 5s ease-in;
}

.carousel-inner {
    display: flex;
    align-self: end;
    height: 350px;
    object-fit: cover;
    bottom: 0;
    bottom: 0;
}
.carousel-item img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}



.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    width: auto;
    margin-top: auto;
}

.hero-box * {
    color: #FFF;
}

.hero-box h1 {
    color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 2rem !important;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 84px */
letter-spacing: -1.4px;

}
.sub{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 36.4px */
    width: 453px;
}

.last-update {
    opacity: 0.5;
    gap: 15px;
    font-size: 14px;
}


    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow-x: hidden;
        gap: 12px;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 19.6px */
        font-size: 12px;
    }

    .card-description p {
        margin-bottom: 0;
    }

}

/* <<<<<<<<<<<<<<<<<<< SMALLER DEVICES ≥ 1400 px  >>>>>>>>>>>>>>>>>>>>>>>>>  */

@media (max-width:575px) {

    .hero-container {
        background-image: url(../img/homepage/hero-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }

    .hero-box {
        gap: 10px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .hero-box h1 {
        font-size: 28px;
    }

    .icons {
        font-size: 12px;
    }



}