/* 
BET SPORTS USA RANKING STYLESHEET

/* COVER */

.cover {
    background: var(--color-background-2);
    color: var(--color-default);
    height: 19rem;
    top:0;
    
}

.cover-container {
    height: 100%;
    background-image: url(../img/bg-footbal.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: inherit;
}

.back {
    color: var(--color-accent-1);
    gap: 0.5rem;
    margin: 1.5rem 0;
font-family: Poppins;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 1.225rem */

}

/* RANKING CARDS | LEADERS */

.leaders {
    background-color: var(--color-background);
    color: var(--color-default-2);
}

.leaders .container:first-child {
    margin-top: -7.5rem;
}

.ranking-card {
    display: flex;
    border-radius: 0.5rem;
    background-color: var(--color-card);
    margin: 0 0 1.3rem 0;
    height: 10.75rem;

}

.ranking-card:hover {
    transform: translateY(-3px) translateX(3px);
    transition: ease-in-out;
    transition-duration: 300ms;
}


.ranking-card:not(:hover) {
    transform: translateY(0) translateX(0);
    transition: ease-in-out;
    transition-duration: 400ms;
}

.ranking-position {
    border-radius: 8px 0 0 8px;
    background: var(--color-card);
    padding: 0;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.10);
    height: inherit;
}

.brand {
    height: 100%;
}

.brand img {
    object-fit: contain;
    align-items: center;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 2.5rem;
}

.position {
    position: absolute;
    display: flex;
    height: 1.43rem;
    flex-shrink: 0;
    margin-top: 1rem;
}

.place:before {
    position: absolute;
    content: "";
    position: absolute;
    background-color: #1F4805;
    width: 5px;
    height: 1.43rem;
    left: -5px;
    top: 0;
}

.place {
    font-family: 'Plus Jakarta Sans';
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    width: 1.43rem;
    height: 1.43rem;
    padding-top: 0.2rem;
    background-color: #255B03;
}

.category {
    font-family: 'Plus Jakarta Sans';
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.28px;
    background-color: #3E9507;
    height: 1.43rem;
    padding: 0.25rem 0.6rem;
    white-space: nowrap;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-left: 2rem;
    gap: 0.8rem;
}

.offer-bonus {
    color: var(--color-default-2);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.04rem;
}

.offer-description {
    width: 22.5rem;
    padding-bottom: 0;
    opacity: 0.7;

}

.score {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2.85rem;

}

.score-review {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0 1.25rem;
    margin-right: 5rem;
}

.score-review span {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    gap: 0;
    padding: 0;
    white-space: nowrap;


}

.score-review a {
    font-size: 1rem;
    color: var(--color-accent-1);
    white-space: nowrap;

}

.score-points {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.score-points span {
    color: var(--color-default-2);
    font-family: Poppins;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 2.8125rem */
    letter-spacing: -0.14063rem;
}


.btn-score-bonus {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    display: inline-flex;
    padding: 1rem 1.75rem;
    align-items: center;
    gap: 0.875rem;
    border-radius: 4px;
    background: var(--color-accent-2);
    white-space: nowrap;
}

.btn-score-bonus:hover {
    color: #fff;
    background-color: #E5504F;
}

.btn-score-bonus:hover i {
    transform: translateX(5px);
    transition: ease-in-out;
    transition-duration: 300ms;
}

.btn-score-bonus:not(:hover) i {
    transform: translateX(0px);
    transition: ease-in-out;
    transition-duration: 400ms;
}

/* QUESTIONS & ANSWERS */

.questions-answers span {
    font-weight: 500;
}

.questions-answers .message {
    opacity: 0.5;
    padding-right: 12.5rem;
}

.btn-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.25rem;
    padding: 1rem 1.75rem;
    gap: 0.625rem;
    border-radius: 0.25rem;
    background: var(--color-accent-2);
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.btn-contact:hover {
    background: #E5504F;
    color: #fff;
}

.accordion * {
    background-color: transparent;
    color: var(--color-default);
}

.accordion-item {
    border: none;
    border-bottom: 1px solid var(--color-border);
    padding-left: 0;
    padding-right: 0.623rem;
}

.accordion-item:last-of-type {
    border: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#088B33'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
    padding-left: 0;

}

.accordion-button {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 1.75rem */
    letter-spacing: -0.025rem;
    padding-left: 0;
    padding-right: 0;
}

.accordion-button::after {
    background-image: url(../img/icons/accordion-arrow.svg);
    width: 1rem;

    background-size: contain;
    background-color: transparent;

    color: inherit;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/accordion-arrow.svg);
    width: 1rem;
    background-size: contain;
    margin-left: auto;
}

.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}


/* TERMS */

.terms {
    background-color: var(--color-background-2);
}

.terms .container {
    margin-top: 3.6rem;
    opacity: 0.6;
}

.terms h3 {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;

}

.terms h3:first-child {
    margin-top: 0;
}



/* LATEST NEWS */


.star-logo {
    background: linear-gradient(to bottom,
            var(--color-background-2) 0%,
            var(--color-background-2) 50%,
            var(--color-background-3) 50%,
            var(--color-background-3) 100%)
}

.latest-news {
    overflow: hidden;
    background: var(--color-background-3);
    color: #FFF;
}

.latest-news h2,
.latest-news h3 {
    color: #fff;
}

.card-news img {
    border-radius: 0.38rem;
    object-fit: cover;
}

.ribbon-wrapper {
    height: 1.875rem;
}

.ribbon {
    box-sizing: border-box;
    position: absolute;
    padding: 0.3rem 0.75rem;
    align-items: center;
    gap: 0.623rem;
    background: #088B33;
    font-size: 0.875rem;
    text-align: center;
    z-index: 100;
    margin-top: -1.8rem;
}

.text-ribbon {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 0.5rem;
}

.ribbon-date {
    color: rgba(255, 255, 255, 0.5);
}

.latest-news-hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 4rem;
}



/* <<<<<<<<<<<<<<<<<<< SMALLER DEVICES ≥ 1400 px  >>>>>>>>>>>>>>>>>>>>>>>>>  */
@media screen and (max-width: 1400px) {


    .hero {
        background-color: var(--color-background-2);
        padding-top: 73px;
        padding-left: 25px;
        padding-right: 25px
    }

    .hero-container {
        background-image: url(../img/hero-1400.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        min-height: 565px;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        margin-top: 37px;
        width: 754px;
        gap: 16px;
    }

    .hero-box p {
        width: 373px;
    }

    .offer {
        margin-left: 30px;
    }

    /*     
    .offer-bonus {
        color: var(--color-default-2);
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.64px;
    } */

    .score {
        margin-right: 25px;

    }

    .score-review {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .score-points {
        margin-left: 25px;
        margin-right: 25px;
    }

    .score-points span {
        color: #04111E;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 35px */
        letter-spacing: -1.75px;
    }


}

@media screen and (max-width: 1200px) {

    .hero {
        background-color: var(--color-background-2);
        padding-top: 53px;
        padding-left: 25px;
        padding-right: 25px
    }

    .hero-container {
        background-image: url(../img/hero-1200.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        min-height: 450px;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        width: 754px;
        gap: 16px;
    }

    .hero-box p {
        width: 373px;
    }

    .brand {
        max-width: 235px;
        height: inherit;
    }


    .offer {
        margin-left: 15px;

    }

    .offer-bonus {
        color: var(--color-default-2);
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.64px;
    }

    .score {
        margin-right: 15px;
    }

    .score-points {
        margin-left: 15px;
        margin-right: 15px;
    }

    .score-points {

        height: 60px;
        width: 60px;
    }


    .score-points span {
        font-size: 25px;
    }

}

@media screen and (max-width: 991px) {
    .hero {
        background-color: var(--color-background-2);
        padding-top: 53px;
        padding-left: 25px;
        padding-right: 25px
    }

    .hero-container {
        background-image: url(../img/hero-1200.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        min-height: 350px;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        width: 554px;
        gap: 16px;
    }

    .hero-box p {
        width: 373px;
    }

    .ranking-card {
        display: flex;
        flex-direction: row;
        border-radius: 4px;
    }

    .ranking-position {
        border-radius: 16px;
        box-shadow: none;
    }



    .brand {
        max-width: 205px;
        height: inherit;
    }

    .category {
        margin-right: 15px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.24px;
    }

    .position {
        border-radius: 4px 4px 0 0;

    }

    .place {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 12px */
        letter-spacing: -0.24px;
        padding: 3px 5px;

    }

    .offer {
        gap: 0;
        height: auto;
    }


    .offer-bonus {
        font-size: 22px;
    }


    .score {
        align-items: center;
        justify-items: flex-end;
        gap: 8px;
        margin-right: 6px;
        margin-top: 18px;
        margin-bottom: 18px;

    }

    .score-points {
        margin-left: 5px;
        margin-right: 5px;

    }

    .score-review span,
    .score-review a {
        font-size: 14px;
    }

    .btn-score-bonus {
        color: #fff;
        height: 32px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        padding: 8px;
        white-space: nowrap;
    }

    .accordion-body {
        padding-right: auto;
    }





}

@media screen and (max-width: 767px) {

    .hero {
        background-color: var(--color-background-2);
        padding-top: 23px;
        padding-left: 25px;
        padding-right: 25px
    }

    .hero-container {
        background-image: url(../img/hero-1200.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        min-height: 350px;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        width: 554px;
        gap: 16px;
    }

    .hero-box p {
        width: 173px;
    }


    .leaders {
        background: linear-gradient(to bottom,
                var(--color-background-2) 50px,
                var(--color-background-2) 50px,
                var(--color-background) 0%,
                var(--color-background) 100%)
    }

    .leaders {
        margin-top: -15px;

    }


    .leaders>.container:first-child {
        margin-top: -5px;
    }


    .ranking-card {
        min-height: 100px;
    }

    .score {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;

    }

    .score-review {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .score-points {
        background-image: none;
        height: auto;
    }

    .brand {
        max-width: 150px;
        height: inherit;
        position: absolute;
    }

    .brand img {
        padding-top: 15px;
    }

    .category {
        margin-right: 15px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.24px;
    }

    .place {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 12px */
        letter-spacing: -0.24px;
        padding: 3px 5px;
    }

    .offer {
        gap: 0;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .offer-bonus {
        font-size: 20px;
    }

    .score-points {
        margin-left: 5px;
        margin-right: 0px;
    }

    .score-points span {
        font-size: 20px;
    }


    .score-review span,
    .score-review a {
        font-size: 12px;
    }

    .btn-score-bonus {
        color: #fff;
        height: 32px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        padding: 14px;
        height: 40px;
        white-space: nowrap;
    }


    .QA {

        text-align: center;
    }

    .icons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow-x: hidden;
        gap: 12px;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 19.6px */
    }




    .accordion {
        padding-left: 15px;
    }




    .btn-contact {
        display: inline-flex;
        width: 100%;
        padding: 12px 20px;
        align-items: center;
    }

    .accordion,
    .accordion-item,
    .accordion-button,
    .accordion-body {
        padding-left: 0;

    }

    .accordion-button {
        font-size: 14px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.28px;
    }

    .icons {
        font-size: 12px;
    }
}

@media (max-width:575px) {


    .hero {
        background-color: var(--color-background-2);
        padding-top: 23px;
        padding-left: 25px;
        padding-right: 25px
    }

    .hero-container {
        background-image: url(../img/hero-600.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        min-height: 300px;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        width: 554px;
        gap: 16px;
    }

    .hero-box p {
        width: 173px;
    }

    .offer {
        justify-content: flex-end;
        padding-bottom: 18px;
    }

    .offer-bonus {

        font-size: 16px;
        letter-spacing: -1.4px;
    }

    .accordion-button,
    .accordion-body {
        padding-right: 0;
    }


    .ranking-card-mobile {
        height: 70px;
    }


    .hero-box .icons {
        font-size: 12px;
    }

    .icons {
        font-size: 12px;
    }

    .last-update {
        font-size: 14px;
    }


}


@media (max-width:479px) {

    .ranking-card-mobile {
        height: 60px;
    }


    .offer {
        margin-left: 12px;
    }

    .offer-type {
        font-size: 10px;

    }

    .offer-bonus {
        font-size: 18px;
        letter-spacing: -1.4px;
    }

    .offer-min {
        font-size: 11px;
        margin-top: 6px;
        margin-bottom: 10px;

    }

    .score-points {
        font-size: 14px;
        margin-top: 6px;

    }


    .btn-score-bonus {
        color: #fff;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        padding: 8px;
    }

    .icons {
        font-size: 12px;
    }

    .last-update {
        font-size: 12px;
    }
}

@media (max-width:410px) {

    .ranking-card-mobile {
        height: 60px;
    }


    .offer {
        margin-left: 12px;
    }

    .offer-type {
        font-size: 10px;
    }

    .offer-bonus {
        font-size: 16px;
        letter-spacing: -1.4px;
    }

    .offer-min {
        font-size: 12px;
        margin-top: 4px;

    }

    .score-points {
        font-size: 14px;
        margin-top: 4px;

    }

    .btn-score-bonus {
        color: #fff;
        font-size: 11px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        padding: 6px;
    }


    .icons {
        font-size: 12px;
    }

    .last-update {
        font-size: 12px;
    }
}

@media (max-width:360px) {
    .offer {
        margin-left: 10px;
    }

    .offer-type {
        font-size: 8px;
    }

    .offer-bonus {
        font-size: 14px;
        letter-spacing: -1.4px;
    }

    .offer-min {
        font-size: 10px;
        margin-top: 4px;
        margin-bottom: 6px;


    }

    .btn-score-bonus {
        font-size: 10px;
        padding: 4px;
    }

}