:root {
    --color-background: #0A3773;
    --color-background-2: #094799;
    --color-background-3: #0A3773;

    --color-background-nav: #094799;
    --color-background-ad: #0066EC;

    --color-default: #fff;
    --color-default-2: #04111E;

    --color-accent-1: #0066EC;
    --color-accent-2: #FF5758;
    --color-accent-3: #79B3FF;
    --color-accent-4: #fff;


    --color-border: rgba(215, 226, 228, 0.10);

    --color-card: #fff;
}

.text-accent {
    color: var(--color-accent-3) !important;
}

.light-mode-img {
    display: none;
}

.dark-mode-img {
    display: block;
}

.color-scheme {
    display: flex;
    align-items: center;
    background: url(../img/icons/dark-mode.svg);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.navbar-toggler-icon { 
    background-image: url(../img/icons/hamburguer-dark.svg) ;
}

.accordion-button::after {
    background-image: url(../img/icons/accordion-arrow-white.svg);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/accordion-arrow-white.svg);
}

.select-state{
    background-image: url(../img/icons/location-pin-dark.svg);
}


/* ------ ICONS ------- */

.icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.i-football {
    content: url(../img/icons/footbal-dark.svg);
}
.i-basketball {
    content: url(../img/icons/basketball-dark.svg);
}
.i-baseball {
    content: url(../img/icons/baseball-dark.svg);
}
.i-soccer {
    content: url(../img/icons/soccer-dark.svg);
}
.i-location-pin {
    content: url(../img/icons/location-pin-dark.svg);
}
.i-arrow-forward {
    content: url(../img/icons/arrow-forward.svg);
}
.close {
    content: url(../img/icons/close-dark.svg);
}
.time-forward {
    content: url(../img/icons/time-forward-dark.svg);
}
.time-refresh {
    content: url(../img/icons/time-refresh.svg);
}
.security {
    content: url(../img/icons/security-dark.svg);
}
.location-pin {
    content: url(../img/icons/location-pin-dark.svg);
}
.money-bill {
    content: url(../img/icons/money-bill-dark.svg);
}
.rate-1 {
    content: url(../img/icons/rate-1-dark.svg);
}
.rate-2 {
    content: url(../img/icons/rate-2-dark.svg);
}
.rate-3 {
    content: url(../img/icons/rate-3-dark.svg);
}
.rate-4 {
    content: url(../img/icons/rate-4-dark.svg);
}
.rate-5 {
    content: url(../img/icons/rate-5-dark.svg);
}
.star{
    content: url(../img/icons/star.svg);
}
.back-arrow {
    content: url(../img/icons/back-arrow.svg);
}