/* 
CASINO FINDER FOOTER STYLESHEET
*/


footer {
    background-color: var(--color-background-3);
    color: rgba(255, 255, 255, 0.5);
    padding-top: 60px;
    padding-bottom: 30px;
}

footer a {
    text-decoration: unset !important;
    text-transform: none;
    color: #ffffff79;
}

/* .hover-link {
    text-decoration: none;
    color: inherit;
} */

footer a:hover {
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
}


footer h3 {
    font-size: 24px;
}

footer p {
    color: rgba(255, 255, 255, 0.5);
}


.legal-age {
    width: 400px;
    gap: 24px;
}

.logo-card {
    display: flex;
    margin-left: 10px;
    
}
.footer-links {
    display: flex;
    align-items: center;

    justify-content: space-around;
    gap: 24px;
}

.footer-categories {
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-self: stretch;
    margin-right: 76px;
    gap: 24px;
}

.footer-categories-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.footer-line {
    margin: 42px 0;
}

.footer-policies {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px
    
}
.logos {
    display: inline-block;
    overflow-x: hidden;
}



@media screen and (max-width: 991px) {
    .footer-categories {
        margin-right: auto;
    }

    .footer-policies {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .footer-categories {
        display: flex;
        justify-content: space-between;
        align-items: start;
        align-self: stretch;
        text-wrap: nowrap;
        margin-right: 0px;
        margin-top: 10px;
        gap: 24px;
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {


    footer {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    
    .footer-categories-list {
        display: flex;
        flex-direction: column;
        gap: auto;
    }

    
.legal-age {
    width: 100%;
}


.footer-line {
    margin: 32px 0;
}

    .footer-categories {
        margin-top: 32px;
        display: flex;
        justify-content: flex-start;
        gap: 30%;
    }

    .logos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
    }

    .logo-card {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 0;
    }


}


@media (max-width:575px) {


footer {
    padding-top: 40px;
    padding-bottom: 20px;
}
    .footer-policies a {
        font-size: 12px;
        gap: 5px;
    }
}