/* 
BET SPORTS USA HOME PAGE STYLESHEET


/* HERO */

.hero {
    background-color: var(--color-background-2);

}

.hero-container {
    background: url(../img/hero-1400.svg);
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    min-height: auto;
    padding-top: 7.5rem;
    padding-bottom: 8.75rem;

}

.hero-box {
    display: flex;
    flex-direction: column;
    width: 47rem;
    gap: 1rem;
}

.hero-box .subtitle {
    width: 30rem;
    font-size: 1.625rem;
}

.last-update {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-default);
    opacity: 0.5;
}

.logos {
    overflow-y: hidden;

}

.logo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.65rem 0;
    gap: 1.5rem;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.logo-row::-webkit-scrollbar {
    display: none;
}

.logo-row::-moz-scrollbar {
    display: none;
}

.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.75rem;
    height: 3.65rem;
    opacity: 0.5;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--color-background);
}

/* FEATURES */

.features-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.features-card-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}


/* EXPERIENCE */


.experience-card {
    border-radius: 0.75rem;
    background: var(--color-accent-1);
    color: #fff;
}

.experience-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-content h2,
.experience-content h3,
.experience-content p {
    color: #fff;
}

.experience-content-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 1.7rem;
}

.experience-content-item div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    color: #FFF;
}

.experience-image {
    border-radius: 0px 12px 12px 0px;
    object-fit: cover;
    width: 100%;
    padding: 0;
}

.experience-image--mobile {
    border-radius: 0px;
    object-fit: cover;
    width: 100%;
    height: 15.75rem;
}



/* QUESTIONS & ANSWERS */

.questions-answers span {
    font-weight: 500;
}

.questions-answers .message {
    opacity: 0.5;
    padding-right: 140px;
}

.btn-contact {
    display: flex;
    width: 267px;
    padding: 16px 28px;
    border-radius: 4px;
    background: var(--color-accent-2);
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.btn-contact:hover {
    background: #FF1718;
    color: #fff;
}

.accordion * {
    background-color: transparent;
    color: var(--color-default);
}

.accordion-item {
    border: none;
    border-bottom: 1px solid var(--color-border);
    padding-left: 0;
    padding-right: 10px;
}

.accordion-item:last-of-type {
    border: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#088B33'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
    padding-left: 0;

}

.accordion-button {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.4px;
    padding-left: 0;
    padding-right: 0;
}
.accordion-button::after {
    background-image: url(../img/icons/accordion-arrow.svg);
    width: 15px;

    background-size: contain;
    background-color: transparent;

    color: inherit;
    box-shadow: none;



}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/accordion-arrow.svg);
    width: 15px;
    background-size: contain;
    margin-left: auto;

}

.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;

}


/* LATEST NEWS */


.star-logo {
    background: linear-gradient(to bottom,
            var(--color-background) 0%,
            var(--color-background) 50%,
            var(--color-background-3) 50%,
            var(--color-background-3) 100%)
}

.latest-news {
    overflow: hidden;
    background: var(--color-background-3);
    color: #FFF;
}

.latest-news h2,
.latest-news h3 {
    color: #fff;
}

.card-news img {
    border-radius: 6px;
    object-fit: cover;
}

.ribbon-wrapper {
    height: 20px;
}

.ribbon {
    box-sizing: border-box;
    position: absolute;
    padding: 5px 12px;
    align-items: center;
    gap: 10px;
    background: #088B33;
    font-size: 14px;
    text-align: center;
    z-index: 100;
    margin-top: -29px;
}

.text-ribbon {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 8px;
}

.ribbon-date {
    color: rgba(255, 255, 255, 0.5);
}

.latest-news-hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 4rem;
}




/* MEDIA QUERIES */

@media screen and (max-width: 991px) {

    .hero-container {
        padding-right: 5%;
        background: url(../img/hero.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        height: auto;
        padding: 1.5rem;

    }

    .hero-box {
        width: 60%;
    }

    .hero-box .subtitle {
        width: 85%;
        font-size: 1.25rem;
    }

    .experience {
        background: var(--color-accent-1);
    }

    .experience-content {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
    }

    
    .accordion {
        padding-top: 40px;
    }

    .questions-answers span {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .questions-answers h2 {
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.36px;
    }

    .questions-answers .message {
        padding-right: 0;
    }

    .btn-contact {
        display: inline-flex;
        width: 100%;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        text-wrap: nowrap;
    }


}

@media screen and (max-width: 575px) {





.hero {
    background-color: var(--color-background-2);

}

.hero-container {
    position: static;
    background: url(../img/hero.svg);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom ;
height: 40rem;
}

.hero-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 1rem;
    text-align: center;
}

.hero-box .subtitle {
    width: auto;
    font-size: 1.225rem;
}

.last-update {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-default);
    opacity: 0.5;
}








    .features-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: auto;
        margin: auto;
        margin-bottom: 40px;
        gap: 1rem;
    }

    .features-card[last] {
        margin-bottom: 0px;
    }


    .features-card .features-card-description {

        text-align: left;
        padding-right: 20px;
        margin-top: 0;
    }

    .experience-content-item:last-of-type {
        margin-bottom: 0px;


    }

.latest-news h3 {
    margin-top: 1rem;
    font-size: 0.875rem;

}


}