:root {
    --color-background: #fff;
    --color-background-2: #E9F3FC;
    --color-background-3: #0A3773;


    --color-background-nav: #fff;
    --color-background-ad: #0066EC;

    --color-default: #04111E;
    --color-default-2: #04111E;

    --color-accent-1: #0066EC;
    --color-accent-2: #FF5758;
    --color-accent-3: #FF5758;
    --color-accent-4: #0066EC;


    --color-border: #D7E2E4;

    --color-card: #fff;

}
body {
    background-color: var(--color-background);
}
.text-accent {
    color: var(--color-accent-1) !important;
}

.dark-mode-img {
    display: none;
}

.color-scheme {
    display: flex;
    align-items: center;
    background: url(../img/icons/light-mode.svg);
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.accordion-button::after {
    background-image: url(../img/icons/accordion-arrow.svg);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/accordion-arrow.svg);
}

.select-state{
    background-image: url(../img/icons/location-pin.svg);

}


/* ------ ICONS ------- */

.icon {
    display: flex;
    align-items: center;
    gap: 8px;

}
.i-football {
    content: url(../img/icons/football.svg);
}
.i-basketball {
    content: url(../img/icons/basketball.svg);
}
.i-baseball {
    content: url(../img/icons/baseball.svg);
}
.i-soccer {
    content: url(../img/icons/soccer.svg);
}

.i-location-pin {
    content: url(../img/icons/location-pin.svg);
}

.i-arrow-forward {
    content: url(../img/icons/arrow-forward.svg);
}

.close {
    content: url(../img/icons/close.svg);
}

.time-forward {
    content: url(../img/icons/time-forward.svg);
}

.time-refresh {
    content: url(../img/icons/time-refresh.svg);
}

.security {
    content: url(../img/icons/security.svg);
}

.location-pin {
    content: url(../img/icons/location-pin.svg);
}

.money-bill {
    content: url(../img/icons/money-bill.svg);
}

.rate-1 {
    content: url(../img/icons/rate-1.svg);
}
.rate-2 {
    content: url(../img/icons/rate-2.svg);
}
.rate-3 {
    content: url(../img/icons/rate-3.svg);
}
.rate-4 {
    content: url(../img/icons/rate-4.svg);
}
.rate-5 {
    content: url(../img/icons/rate-5.svg);
}
.star{
    content: url(../img/icons/star.svg);
}

.back-arrow {
    content: url(../img/icons/back-arrow.svg);
}