/* AVERTISING BANNER - Home page only - positon fixed-bottom in < 992px devices */

.advertising-banner {
    min-height: 43px;
    background-color: var(--color-background-ad);
    padding: 12px;
    color: #fff;
    font-size: 12px;
}

.advertising-banner-content {
    display: flex;
    justify-content: space-between;
}

.close {
    cursor: pointer;
}


/* NAVBAR */

.header {
    display: flex;
    background-color: var(--color-background-nav);
    height: 93px;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
}

.header>.container {
    height: inherit;
}

.navbar {
    margin-left: 0;
}

.navbar-control,
.navbar-expand-lg,
.navbar-container,
.navbar-collapse {
    height: inherit;
}

.navbar-collapse>.container {
    height: inherit;
    align-items: center;
}

.navbar-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-nav {
    height: inherit;
    align-items: center;
    gap: 32px;
    padding: 0;
}

.navbar-nav:first-child {
    margin-left: auto;
}

.navbar-nav:last-child {
    margin-right: 24px;
}

.navbar-nav>.active {
    border: none;
    position: sticky;
    opacity: 1;
    margin-top: 36px;
}

.navbar-nav>.active::after {
    content: '';
    position: relative;
    display: block;
    width: 110%;
    height: 1px;
    background-color: var(--color-accent-3);
    margin-top: 32px;

}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
    padding-left: 0px;
}

.navbar-control .dropdown-toggle,
.navbar-control .dropdown-toggle:focus,
.navbar-control .dropdown-toggle:active {
    color: var(--color-accent-1);
    border-color: transparent;
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0;
}

.nav-logo {
    color: var(--color-default);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}



.nav-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: var(--color-default);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 0px !important;
}

.nav-link:hover {
    color: var(--color-accent-1);
    opacity: 1;
}


.navbar-control {
    display: flex;
    align-items: center;
    color: #088B33;
    padding-left: 24px;
    height: 24px;
    position: sticky;
    border-left: 1px solid var(--color-border);
}

.navbar-control svg {
    stroke: #088B33;
}


.select-state {
    color: var(--color-accent-4);
    fill: var(--color-accent-2) !important;
    border: none;
    text-align: center;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: transparent;
    padding-left: 12px;
    margin-left: 24px;
    /* background-image: url(../img/icons/location-pin-dark.svg); - IN LIGHT/DARK CSS*/


}


.nav-gap {
    gap: 100px
}

@media screen and (max-width: 1400px) {
    .navbar-nav {
        gap: 20px;
    }

    nav ul,
    .nav-link {
        gap: 6px
    }

    .nav-gap {
        gap: 40px
    }

    .nav-logo {
        font-size: 20px;
    }

    .navbar-nav:last-child {
        margin-right: 18px;
    }


    .select-state {

        padding-left: 12px;
        margin-left: 18px;

    }



}



@media screen and (max-width: 1200px) {

    .navbar-nav {
        height: inherit;
        align-items: center;
        gap: 16px;
        padding: 0;
    }

    .nav-logo {
        font-size: 20px;
        text-align: right;
    }

    nav ul {
        gap: 0px
    }

    .navbar {
        padding: 0;
    }

    .navbar a {
        font-size: 14px;
    }

}

@media screen and (max-width: 991px) {

    .advertising-banner {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .navbar-nav>.active {
        margin-top: auto;
    }

    .navbar-nav>.active:after {
        margin-top: auto;
    }

    .navbar-nav:first-child {
        margin-left: 0;
    }

    .header {
        height: 60px;
    }

    .navbar-nav>.active {
        border-bottom: none;
        border-radius: none;
    }

    .navbar-control {
        border-left: none;
    }

    .nav-logo {
        margin-left: 8px;
    }

    .navbar {
        position: static;
    }

    .navbar-collapse {
        flex-basis: auto;
    }

    .nav-gap.container {
        max-width: unset;
        margin-left: 0;
        height: fit-content;
        min-height: calc(100svh - 60px);
        box-shadow: 0px 10px 10px 0px #0000001a;
    }

    .nav-link {
        width: fit-content;
        margin: auto;

    }

    .nav-gap {
        left: 0;
        top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100dvw;
        position: absolute;
        background-color: var(--color-background);
        z-index: 9000;

    }

    .navbar a {
        font-size: 20px;
    }

.navbar-brand {
    gap: 6px;
}
}