/* 
BET SPORTS USA RANKING STYLESHEET

SECTIONS:

1 - HERO
2 - RANKING CARDS | LEADERS
3 - QUESTIONS & ANSWERS
4 - TERMS
5 - LATEST NEWS
  - @medias screen and (max-width: 1400 / 992 / 768 / 576)

*/


/* HERO */

.hero {

    background-color: var(--color-background-2);
    padding-top: 73px;
    padding-left: 25px;
    padding-right: 25px
}

.hero-container {
    background-image: url(../img/hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    min-height: 565px;
}

.hero-box {
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    width: 754px;
    gap: 16px;
}


.hero-box p {
    width: 373px;
}

.last-update {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-default);
    opacity: 0.5;
}

/* RANKING CARDS | LEADERS */

.leaders {
    background-color: var(--color-background);
    color: var(--color-default-2);
}

.leaders>.container:first-child {
    margin-top: -75px;
}

.ranking-card {
    display: flex;
    border-radius: 8px;
    background-color: var(--color-card);
    margin: 0 0 22px 0;
    min-height: 170px;

}

.ranking-card:hover {
    transform: translateY(-3px) translateX(3px);
    transition: ease-in-out;
    transition-duration: 300ms;
}


.ranking-card:not(:hover) {
    transform: translateY(0) translateX(0);
    transition: ease-in-out;
    transition-duration: 400ms;
}

.ranking-position {
    border-radius: 8px 0 0 8px;
    background: var(--color-card);
    padding: 0;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.10);
}

.brand {
    align-items: center;
}

.brand img {
    padding: 25px 30px 50px 23px;
}

.position {
    display: flex;
    height: 23px;
    flex-shrink: 0;
    margin-top: 15px;
}

.place:before {
    content: "";
    position: absolute;
    background-color: #1F4805;
    width: 5px;
    height: 23px;
    top: 15px;
    left: -5px;
}

.place {
    font-family: 'Plus Jakarta Sans';
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.32px;
    width: 23px;
    height: 23px;
    padding-top: 3px;
    background-color: #255B03;
}

.category {
    font-family: 'Plus Jakarta Sans';
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.28px;
    background-color: #3E9507;
    height: 23px;
    padding: 4px 10px 5px 7px;
    white-space: nowrap;
}



.offer {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-left: 66px;
}

/* 
.offer-type {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 1.8px;
    text-transform: uppercase;
} */

.offer-bonus {
    color: var(--color-default-2);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.64px;
}

/* 
.offer-min {
    color: var(--color-default);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.5;
} */

.score {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 45px;

}

.score-review {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.score-review span {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    gap: 0px;
    padding: 0px;
    white-space: nowrap;


}

.score-review a {
    font-size: 16px;
    color: var(--color-accent-1);
    white-space: nowrap;

}

.score-points {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 27px;
    margin-right: 54px;
    background-image: url(../img/icons/Subtract.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
}

.score-points span {
    color: #04111E;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 35px */
    letter-spacing: -1.75px;
}

/* 
.score-rate span {
    opacity: 0.5;
} */

.btn-score-bonus {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    display: inline-flex;
    padding: 16px 28px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--color-accent-2);
    white-space: nowrap;
}

.btn-score-bonus:hover {
    color: #fff;
    background-color: #E5504F;
}


.btn-score-bonus:hover i {
    transform: translateX(5px);
    transition: ease-in-out;
    transition-duration: 300ms;
}

.btn-score-bonus:not(:hover) i {
    transform: translateX(0px);
    transition: ease-in-out;
    transition-duration: 400ms;
}

/* QUESTIONS & ANSWERS */

.questions-answers {
    background-color: var(--color-background);
}

.questions-answers span {
    font-weight: 500;
}

.questions-answers .message {
    opacity: 0.5;
    padding-right: 140px;
}

.questions-answers .subtitle {
    color: var(--color-accent-4);
}

.btn-contact {
    display: flex;
    width: 267px;
    padding: 16px 28px;
    border-radius: 4px;
    background: var(--color-accent-2);
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.btn-contact:hover {
    background-color: #E5504F;

    color: #fff;
}

.accordion * {
    background-color: transparent;
    color: var(--color-default);
}

.accordion-item {
    border: none;
    border-bottom: 1px solid var(--color-border);
    padding-left: 0;
    padding-right: 10px;
}

.accordion-body {
    padding-left: 0;
}

.accordion-button::after {
    /* background-image: url(../img/icons/accordion-arrow.svg); IN LIGHT / DARK CSS */
    width: 15px;

    background-size: contain;
    background-color: transparent;

    color: inherit;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    /* background-image: url(../img/icons/accordion-arrow.svg); IN LIGHT / DARK CSS  */
    width: 15px;
    background-size: contain;
    margin-left: auto;

}

.accordion-button {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.4px;
    padding-left: 0;
    padding-right: 0;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}


.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;

}

.accordion-item:last-of-type {
    border: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#088B33'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}





/* TERMS */

.terms {
    background-color: var(--color-background-2);


}

.terms .container {
    opacity: 0.6;
}

.terms h3 {
    margin-bottom: 40px;
    margin-top: 40px;

}

.terms h3:first-child {
    margin-top: 0;
}

/* LATEST NEWS */


.latest-news {
    overflow: hidden;
    background: var(--color-background-3);
}

.latest-news h2 {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fff;

}

.latest-news h3 {
    margin-top: 16px;
    color: #fff;
}

.card-news img {
    border-radius: 6px;
    object-fit: cover;
}

.ribbon-wrapper {
    height: 20px;
}

.ribbon {
    box-sizing: border-box;
    position: absolute;
    padding: 5px 12px;
    align-items: center;
    gap: 10px;
    background: #088B33;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    margin-top: -29px;
}

.text-ribbon {
    color: rgba(255, 255, 255);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 14px */
    margin-bottom: 8px;

}

.ribbon-date {
    color: rgba(255, 255, 255, 0.5);
}


.latest-news-hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 64px;
}


.star-logo {
    background: linear-gradient(to bottom,
            var(--color-background-2) 0%,
            var(--color-background-2) 50%,
            var(--color-background-3) 50%,
            var(--color-background-3) 100%)
}


/* <<<<<<<<<<<<<<<<<<< SMALLER DEVICES ≥ 1400 px  >>>>>>>>>>>>>>>>>>>>>>>>>  */
@media screen and (max-width: 1400px) {


    .hero {
        background-color: var(--color-background-2);
        padding-top: 73px;
        padding-left: 25px;
        padding-right: 25px
    }

    .hero-container {
        background-image: url(../img/hero-1400.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        min-height: 565px;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        margin-top: 37px;
        width: 754px;
        gap: 16px;
    }

    .hero-box p {
        width: 373px;
    }

    .offer {
        margin-left: 30px;
    }

    /*     
    .offer-bonus {
        color: var(--color-default-2);
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.64px;
    } */

    .score {
        margin-right: 25px;

    }

    .score-review {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .score-points {
        margin-left: 25px;
        margin-right: 25px;
    }

    .score-points span {
        color: #04111E;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 35px */
        letter-spacing: -1.75px;
    }


}

@media screen and (max-width: 1200px) {

    .hero {
        background-color: var(--color-background-2);
        padding-top: 53px;
        padding-left: 25px;
        padding-right: 25px
    }

    .hero-container {
        background-image: url(../img/hero-1200.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        min-height: 450px;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        width: 754px;
        gap: 16px;
    }

    .hero-box p {
        width: 373px;
    }

    .brand {
        max-width: 235px;
        height: inherit;
    }


    .offer {
        margin-left: 15px;

    }

    .offer-bonus {
        color: var(--color-default-2);
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.64px;
    }

    .score {
        margin-right: 15px;
    }

    .score-points {
        margin-left: 15px;
        margin-right: 15px;
    }

    .score-points {

        height: 60px;
        width: 60px;
    }


    .score-points span {
        font-size: 25px;
    }

}

@media screen and (max-width: 991px) {
    .hero {
        background-color: var(--color-background-2);
        padding-top: 53px;
        padding-left: 25px;
        padding-right: 25px
    }

    .hero-container {
        background-image: url(../img/hero-1200.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        min-height: 350px;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        width: 554px;
        gap: 16px;
    }

    .hero-box p {
        width: 373px;
    }

    .ranking-card {
        display: flex;
        flex-direction: row;
        border-radius: 4px;
    }

    .ranking-position {
        border-radius: 16px;
        box-shadow: none;
    }



    .brand {
        max-width: 205px;
        height: inherit;
    }

    .category {
        margin-right: 15px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.24px;
    }

    .position {
        border-radius: 4px 4px 0 0;

    }

    .place {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 12px */
        letter-spacing: -0.24px;
        padding: 3px 5px;

    }

    .offer {
        gap: 0;
        height: auto;
    }


    .offer-bonus {
        font-size: 22px;
    }


    .score {
        align-items: center;
        justify-items: flex-end;
        gap: 8px;
        margin-right: 6px;
        margin-top: 18px;
        margin-bottom: 18px;

    }

    .score-points{
        margin-left: 5px;
        margin-right: 5px;

    }

    .score-review span,.score-review a {
        font-size: 14px;
    }

    .btn-score-bonus {
        color: #fff;
        height: 32px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        padding: 8px;
        white-space: nowrap;
    }

    .accordion-body {
        padding-right: auto;
    }





}

@media screen and (max-width: 767px) {

    .hero {
        background-color: var(--color-background-2);
        padding-top: 23px;
        padding-left: 25px;
        padding-right: 25px
    }

    .hero-container {
        background-image: url(../img/hero-1200.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        min-height: 350px;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        width: 554px;
        gap: 16px;
    }

    .hero-box p {
        width: 173px;
    }


    .leaders {
        background: linear-gradient(to bottom,
                var(--color-background-2) 50px,
                var(--color-background-2) 50px,
                var(--color-background) 0%,
                var(--color-background) 100%)
    }

    .leaders {
        margin-top: -15px;

    }


    .leaders>.container:first-child {
        margin-top: -5px;
    }


    .ranking-card {
        min-height: 100px;
    }

    .score {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;

    }

    .score-review {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .score-points{
        background-image: none;
        height: auto;
    }

    .brand {
        max-width: 150px;
        height: inherit;
        position: absolute;
    }

    .brand img {
        padding-top: 15px;
    }

    .category {
        margin-right: 15px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.24px;
    }

    .place {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 12px */
        letter-spacing: -0.24px;
        padding: 3px 5px;
    }

    .offer {
        gap: 0;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .offer-bonus {
        font-size: 20px;
    }

    .score-points{
        margin-left: 5px;
        margin-right: 0px;
    }

    .score-points span {
        font-size: 20px;
    }


    .score-review span,.score-review a {
        font-size: 12px;
    }

    .btn-score-bonus {
        color: #fff;
        height: 32px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        padding: 14px;
        height: 40px;
        white-space: nowrap;
    }


    .QA {

        text-align: center;
    }

    .icons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow-x: hidden;
        gap: 12px;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 19.6px */
    }




    .accordion {
        padding-left: 15px;
    }




    .btn-contact {
        display: inline-flex;
        width: 100%;
        padding: 12px 20px;
        align-items: center;
    }

    .accordion,
    .accordion-item,
    .accordion-button,
    .accordion-body {
        padding-left: 0;

    }

    .accordion-button {
        font-size: 14px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.28px;
    }

    .icons {
        font-size: 12px;
    }
}

@media (max-width:575px) {


    .hero {
        background-color: var(--color-background-2);
        padding-top: 23px;
        padding-left: 25px;
        padding-right: 25px
    }

    .hero-container {
        background-image: url(../img/hero-600.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        min-height: 300px;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        width: 554px;
        gap: 16px;
    }

    .hero-box p {
        width: 173px;
    }

    .offer {
        justify-content: flex-end;
        padding-bottom: 18px;
    }

    .offer-bonus {

        font-size: 16px;
        letter-spacing: -1.4px;
    }

    .accordion-button,
    .accordion-body {
        padding-right: 0;
    }


    .ranking-card-mobile {
        height: 70px;
    }


    .hero-box .icons {
        font-size: 12px;
    }

    .icons {
        font-size: 12px;
    }

    .last-update {
        font-size: 14px;
    }
}


@media (max-width:479px) {

    .ranking-card-mobile {
        height: 60px;
    }


    .offer {
        margin-left: 12px;
    }

    .offer-type {
        font-size: 10px;

    }

    .offer-bonus {
        font-size: 18px;
        letter-spacing: -1.4px;
    }

    .offer-min {
        font-size: 11px;
        margin-top: 6px;
        margin-bottom: 10px;

    }

    .score-points {
        font-size: 14px;
        margin-top: 6px;

    }


    .btn-score-bonus {
        color: #fff;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        padding: 8px;
    }

    .icons {
        font-size: 12px;
    }

    .last-update {
        font-size: 12px;
    }
}

@media (max-width:410px) {

    .ranking-card-mobile {
        height: 60px;
    }


    .offer {
        margin-left: 12px;
    }

    .offer-type {
        font-size: 10px;
    }

    .offer-bonus {
        font-size: 16px;
        letter-spacing: -1.4px;
    }

    .offer-min {
        font-size: 12px;
        margin-top: 4px;

    }

    .score-points {
        font-size: 14px;
        margin-top: 4px;

    }

    .btn-score-bonus {
        color: #fff;
        font-size: 11px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        padding: 6px;
    }


    .icons {
        font-size: 12px;
    }

    .last-update {
        font-size: 12px;
    }
}

@media (max-width:360px) {
    .offer {
        margin-left: 10px;
    }

    .offer-type {
        font-size: 8px;
    }

    .offer-bonus {
        font-size: 14px;
        letter-spacing: -1.4px;
    }

    .offer-min {
        font-size: 10px;
        margin-top: 4px;
        margin-bottom: 6px;


    }

    .btn-score-bonus {
        font-size: 10px;
        padding: 4px;
    }

}