/* 
CASINO FINDER REVIEW INDIVISUAL STYLESHEET

/* GENERAL */

.text-accent {
    color: var(--color-accent-1) !important;
}

.dark-mode-img {
    display: none;
}

/* COVER */

.cover {
    height: 225px;
    background: var(--color-background-2);
    color: var(--color-default);
}

.back {
    color: var(--color-accent-1);
    gap: 0.5rem;
    margin: 1.5rem 0;
font-family: Poppins;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 1.225rem */

}

.score-mobile {
    color: var(--color-accent-1);
}

.brand-logo {
    display: flex;
    width: 15rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.casino-name {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 3rem */
}

#fixed-section .casino-name{
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 2.1rem */
letter-spacing: -0.035rem;
padding-top: 0.375rem;
}

.offer {
    display: flex;
    flex: 1;
}

.bonus {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    white-space: nowrap;
}

.divider {
    opacity: 0.2;
    margin: 0 10px;
}

.cashback {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 22.4px */
    width: 100%;
    white-space: nowrap;
}

.score-points {
    font-family: poppins;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 2.8125rem */
    letter-spacing: -0.14063rem;
}

.score-rate {
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.btn-visit {
    font-size: 16px;
    width: 19.375rem;
    margin-left: 1.75rem;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    border-radius: 4px;
    padding: 16px 28px;
}

.btn-visit {
    color: #fff;
    background: var(--color-accent-2);
}

.btn-visit:hover {
    color: #fff;
}

.offer-min {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.5;
}


.btn-score-bonus {
    text-align: center;
    width: 19.375rem;
    margin-left: 1.75rem;
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding: 1rem 1.75rem;
    align-items: center;
    gap: 0.875rem;
    border-radius: 4px;
    background: var(--color-accent-2);
    white-space: nowrap;
}

.btn-score-bonus:hover {
    color: #fff;
    background-color: #E5504F;
}

.btn-score-bonus:hover i {
    transform: translateX(5px);
    transition: ease-in-out;
    transition-duration: 300ms;
}

.btn-score-bonus:not(:hover) i {
    transform: translateX(0px);
    transition: ease-in-out;
    transition-duration: 400ms;
}

/* REVIEW CONTENT */


.bonus-promotions,
.likes {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    margin: 14px 0;
}

.bonus-promotions>p {
    opacity: 0.6;
}


.review h3 {
    margin-top: 42px;
    margin-bottom: 20px;
}

picture {
    margin: 20px 0;
}

.likes ul,
.bonus-promotions ul {
    list-style: none;
}

.likes li,
.bonus-promotions li {
    text-indent: -38px;
    margin-top: 12px;
    align-self: center;
}

.likes li::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../img/icons/check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 12px;
    vertical-align: middle;

}

.bonus-promotions li::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../img/icons/bonus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 12px;
    vertical-align: middle;
}

.aside-top {
    margin-top: -200px;
}



/* QUESTIONS & ANSWERS */

.questions-answers span {
    font-weight: 500;
}

.questions-answers .message {
    opacity: 0.5;
    padding-right: 140px;
}

.btn-contact {
    display: flex;
    width: 267px;
    padding: 16px 28px;
    border-radius: 4px;
    background: var(--color-accent-2);
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.btn-contact:hover {
    background: #FF1718;
    color: #fff;
}

.accordion * {
    background-color: transparent;
    color: var(--color-default);
}

.accordion-item {
    border: none;
    border-bottom: 1px solid var(--color-border);
    padding-left: 0;
    padding-right: 10px;
}

.accordion-item:last-of-type {
    border: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#088B33'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
    padding-left: 0;

}

.accordion-button {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.4px;
    padding-left: 0;
    padding-right: 0;
}

.accordion-button::after {
    background-image: url(../img/icons/accordion-arrow.svg);
    width: 15px;

    background-size: contain;
    background-color: transparent;

    color: inherit;
    box-shadow: none;



}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/accordion-arrow.svg);
    width: 15px;
    background-size: contain;
    margin-left: auto;

}

.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;

}


/* TERMS */

.terms {
    background-color: var(--color-background-2);


}

.terms .container {
    opacity: 0.6;
}

.terms h3 {
    margin-bottom: 40px;
    margin-top: 40px;

}

.terms h3:first-child {
    margin-top: 0;
}



/* LATEST NEWS */


.star-logo {
    background: linear-gradient(to bottom,
            var(--color-background-2) 0%,
            var(--color-background-2) 50%,
            var(--color-background-3) 50%,
            var(--color-background-3) 100%)
}

.latest-news {
    overflow: hidden;
    background: var(--color-background-3);
    color: #FFF;
}

.latest-news h2,
.latest-news h3 {
    color: #fff;
}

.card-news img {
    border-radius: 0.38rem;
    object-fit: cover;
}

.ribbon-wrapper {
    height: 1.875rem;
}

.ribbon {
    box-sizing: border-box;
    position: absolute;
    padding: 0.3rem 0.75rem;
    align-items: center;
    gap: 0.623rem;
    background: #088B33;
    font-size: 0.875rem;
    text-align: center;
    z-index: 100;
    margin-top: -1.8rem;
}

.text-ribbon {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 0.5rem;
}

.ribbon-date {
    color: rgba(255, 255, 255, 0.5);
}

.latest-news-hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 4rem;
}








/* <<<<<<<<<<<<<<<<<<< SMALLER DEVICES ≥ 1400 px  >>>>>>>>>>>>>>>>>>>>>>>>>  */

@media screen and (max-width: 1399px) {

    .aside-top {
        margin-top: -220px;
    }

    .btn-visit {
        width: 250px;
        padding: 16px 24px;
    }

    .offer-min {
        font-size: 14px;
        text-wrap: nowrap;
    }
}

@media screen and (max-width: 1199px) {

    i {
        height: 20px;
        padding-left: 5px;
    }

    .btn-visit {
        width: 240px;
        padding: 12px;
    }

}


@media screen and (max-width: 991px) {

    .back-container {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    i {
        height: 12px;
    }

    .bonus-promotions,
    .likes {
        padding: 16px 12px;
    }

    .likes li,
    .bonus-promotions li {
        text-indent: -30px;
    }

    .likes li::before,
    .bonus-promotions li::before {
        margin-right: 8px;
        vertical-align: middle;
    }

    .cover-info .casino-name {
        margin-top: 5px;
    }

    .cover-info>button {
        margin-top: -50px;
    }

    .games {
        gap: 5px;
    }


    .score-mobile {
        font-size: 16px;
    }


    .brand-logo {
        display: flex;
        width: 120px;
        height: 120px;
        padding: 0px 10px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: -16px;
    }

    .btn-visit {
        display: flex;
        padding: 8px 20px;
        width: 200px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-top: -45px;
    }

    .offer-min {
        text-wrap: wrap;
    }
}

@media screen and (max-width: 767px) {

    .cover {
        height: auto;
        padding-bottom: 24px;
    }


    .brand-logo {
        display: flex;
        width: 80px;
        height: 80px;
        padding: 0px 10px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    }

    .btn {
        display: flex;
        padding: 8px 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-top: 30px;
    }

    .score-mobile,
    .back {
        font-size: 14px;
    }

    .casino-name {
        font-size: 28px;
        margin-top: 8px;
    }

    .bonus,
    .cashback {
        font-size: 16px;
    }






}

@media (max-width:575px) {

    .cover>.container-fluid,
    .container,
    .row {
        padding-left: 0;
        padding-right: 0;

    }

    .casino-name {
        font-size: 24px;

    }

    .bonus,
    .cashback {
        font-size: 14px;
    }

    .cover {
        height: auto;
        padding: 0px 12px 24px 12px;

    }

    .divider {
        margin: 0 3px;

    }

}