.icon {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    gap: 8px;

}


.time-forward {
    content: url(../img/icons/time-forward.svg);
}


.security {
    content: url(../img/icons/security.svg);

}

.location-pin {
    content: url(../img/icons/location-pin.svg);

}

.money-bill {
    content: url(../img/icons/money-bill.svg);

}

.rate-1 {
    content: url(../img/icons/rate-1.svg);
}
.rate-2 {
    content: url(../img/icons/rate-2.svg);
}
.rate-3 {
    content: url(../img/icons/rate-3.svg);
}
.rate-4 {
    content: url(../img/icons/rate-4.svg);
}
.rate-5 {
    content: url(../img/icons/rate-5.svg);
}
.star{
    content: url(../img/icons/star.svg);

}

.back-arrow {
    content: url(../img/icons/back-arrow.svg);
}