/* 
CASINO FINDER HOME PAGE STYLESHEET

LIGHT MODE

SECTIONS: 
1 - GENERAL (root, html, body, colors, dark-mode)
2 - AD BANNER (banner, banner-content)
3 - NAVBAR (nav-logo, navbar-toggler, navbar-control, dropdown-toggle, dropdown-menu, color-scheme)
4 - HERO (hero-container, hero-box, last-update, logo-row, logo-card)
4 - FEATURES (features-card, card-description)
5 - EXPERIENCE (experience-card, experience-content, experience-image)
6 - QUESTIONS & ANSWERS (text-settings, accordion-settings, button-settings)
7 - LATEST NEWS (background, card-images, ribbon)
8 - FOOTER
9 - @medias screen and (max-width: 1400 / 992 / 768 / 576)

*/

body {
    background-color: var(--color-background-2);
}

/* HERO */

.hero-container {
    background-image: url(../img/homepage/hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 110px;
    margin-bottom: 141px;
    width: 668px;
    gap: 24px;
}

.last-update {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.5;
}

.logo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0;
    gap: 24px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.logo-row::-webkit-scrollbar {
    display: none;
    /* Hide scrollbars for Webkit-based browsers (Chrome, Safari, etc.) */
}

.logo-row::-moz-scrollbar {
    display: none;
    /* Hide scrollbars for Mozilla-based browsers (Chrome, Safari, etc.) */
}

.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215.909px;
    height: 57px;
    opacity: 0.5;
    border-radius: 8px;
    cursor: pointer;
}

/* FEATURES */


.features-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-card>.card-description {

    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}


/* EXPERIENCE */


.experience-card {
    border-radius: 12px;
    background: #088B33;
    color: #fff;
    flex-shrink: 0;
}

.experience-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}



.experience-content h2,
.experience-content h4,
.experience-content p {
    color: #fff;
}

.experience-content-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 40px;
}

.experience-content-item>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #FFF;
}


.experience-image {
    border-radius: 0px 12px 12px 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;
}

.figure-100 {
    height: 100%;
}


/* QUESTIONS & ANSWERS */

.questions-answers span {
    font-weight: 500;
}

.questions-answers .message {
    opacity: 0.5;
    padding-right: 140px;
}

.btn-contact {
    display: flex;
    width: 267px;
    padding: 16px 28px;
    border-radius: 4px;
    background: #088B33;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.btn-contact:hover {
    background: #086B33;
    color: #fff;
}

.accordion  *{
    background-color: transparent;
    color: var(--color-default);
}

.accordion-item {
    border: none;
    border-bottom: 1px solid var(--color-border);
    padding-left: 0;
    padding-right: 10px;
}

.accordion-body {
    padding-left: 0;

}

.accordion-button::after {
    background-image: url(../img/icons/accordion-arrow.svg);
    width: 15px;

    background-size: contain;
    background-color: transparent;

    color: inherit;
    box-shadow: none;



}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/accordion-arrow.svg);
    width: 15px;
    background-size: contain;
    margin-left: auto;

}

.accordion-button {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.4px;
    padding-left: 0;
    padding-right: 0;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}


.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;

}

.accordion-item:last-of-type {
    border: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#088B33'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* LATEST NEWS */


.latest-news {
    overflow: hidden;
    background: #033714;
}

.latest-news h2 {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fff;

}

.latest-news h3 {
    margin-top: 16px;
    color: #fff;
}

.card-news img {
    border-radius: 6px;
    object-fit: cover;
}

.ribbon-wrapper {
    height: 20px;
}

.ribbon {
    box-sizing: border-box;
    position: absolute;
    padding: 5px 12px;
    align-items: center;
    gap: 10px;
    background: #088B33;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    margin-top: -29px;
}

.text-ribbon {
    color: rgba(255, 255, 255);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 14px */
    margin-bottom: 8px;

}

.ribbon-date {
    color: rgba(255, 255, 255, 0.5);
}


.latest-news-hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 64px;
}


/* <<<<<<<<<<<<<<<<<<< SMALLER DEVICES ≥ 1400 px  >>>>>>>>>>>>>>>>>>>>>>>>>  */
@media screen and (max-width: 1399px) {
    .questions-answers .message {
        padding-right: 70px;
    }

}

@media screen and (max-width: 1199px) {
    .questions-answers .message {
        padding-right: 0px;

    }

    .latest-news h3 {
        margin-top: 12px;
    }
}


@media screen and (max-width: 991px) {


    .hero-container {
        background-size: cover;
        background-position: center;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 480px;
        gap: 16px;
    }

    .experience {
        background-color: #088B33;
    }

    .experience h2 {
        font-size: 24px;
        padding-right: 97px;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .experience-content {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
    }

    .accordion {
        padding-top: 40px;

    }

   


}

@media screen and (max-width: 767px) {

    .experience h2 {
        font-size: 22px;
        padding-right: 57px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .experience h4 {
        font-size: 18px;
    }

    .experience i {
        height: 22px;
        width: 22px;
    }

    .experience-content-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 12px;
    }

    .experience-content-item>div {
        gap: 12px;
    }

    .experience-content-item p {
        margin-left: -34px;
    }



    .features-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .features-card[last] {
        margin-bottom: 0px;
    }

    .feature-mobile>div {
        padding-left: 0;
        padding-right: 0px;

    }

    .features-card>.card-description {

        text-align: left;
        padding-right: 20px;
        margin-top: 0;
    }

    .card-image {
        margin-bottom: 30px;
    }

    .card-description {
        text-align: left;
        padding-left: 0;
    }


    .experience-card {
        border-radius: 0;
        padding: 12px;
    }

    .experience-content {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
    }

    .experience-image {
        border-radius: 0px;
    }



    .questions-answers span {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .questions-answers h2 {
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.36px;
    }

    .questions-answers .message {
        padding-right: 0;
    }

    .btn-contact {
        display: inline-flex;
        width: 100%;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        text-wrap: nowrap;
    }

    .accordion {
        padding-top: 15px;
    }


    .accordion,
    .accordion-item,
    .accordion-button,
    .accordion-body {
        padding-left: 0;



    }

    .accordion-button {
        font-size: 14px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.28px;

    }

    

    .card-news {
        display: flex;
        justify-content: center;
        margin: 15px 0;

    }

}

@media (max-width:575px) {

    .hero-container {
        background-image: url(../img/homepage/hero-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
    }

    .hero-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 280px;
        gap: 16px;
    }

    .hero-box h1 {
        font-size: 28px;
    }

    .last-update {
        font-size: 14px;
    }

    .logo-row {
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 12px;
        height: auto;
        overflow-y: hidden;
    }

    .logo-card {
        width: 143px;
        height: 37px;
        opacity: 0.5;
        border-radius: 4px;
        cursor: pointer;
    }

    

    .questions-answers h2 {
        font-size: 18px;
    }

    .latest-news {
        padding-left: 12px;
    }

    .latest-news h2 {
        margin-top: 40px;
        margin-bottom: 24px;
        font-size: 18px;

    }

    .latest-news h3 {
        margin-top: 14px;
    }


    .ribbon-wrapper {
        height: 20px;
    }

    .ribbon {
        box-sizing: border-box;
        position: absolute;
        padding: 5px 12px;
        align-items: center;
        gap: 10px;
        background: #088B33;
        font-size: 14px;
        text-align: center;
        z-index: 1000;
        margin-top: -29px;
    }

    .text-ribbon {
        color: rgba(255, 255, 255);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 14px */
        margin-bottom: 8px;

    }

    .ribbon-date {
        color: rgba(255, 255, 255, 0.5);
    }


    hr {
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 40px;
    }




}