/* 
CASINO FINDER RANKING STYLESHEET

LIGHT MODE

SECTIONS: 
1 - GENERAL (root, html, body, colors, dark-mode)
2 - NAVBAR (active, nav-logo, navbar-toggler, navbar-control, dropdown-toggle, dropdown-menu, color-scheme)
3 - HERO (hero-container, hero-box, last-update, logo-row, logo-card)
4 - RANKING CARDS (features-card, card-description)
5 - FAQ (experience-card, experience-content, experience-image)
6 - QUESTIONS & ANSWERS (text-settings, accordion-settings, button-settings)
7 - FOOTER
9 - @medias screen and (max-width: 1400 / 992 / 768 / 576)

*/

/* GENERAL */

:root {
    --color-background: #f1f1f1;
    --color-background-2: #FFF;

    --color-default: #04111E;
    --color-accent-1: #088B33;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
}


.text-accent {
    color: var(--color-accent-1)!important;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    gap: 32px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* NAVBAR */


nav {
    background-color: var(--color-background-2);
}

.navbar-nav>.active {
    border-bottom: 4px solid var(--color-accent-1);
    border-radius: 2px;
    ;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
    padding-left: 0px;
}

.navbar-control .dropdown-toggle,
.navbar-control .dropdown-toggle:focus,
.navbar-control .dropdown-toggle:active {
    color: var(--color-accent-1);
    border-color: transparent;
    display: flex;
    align-items: center;
}

.nav-logo {
    color: var();
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.color-scheme {
    display: flex;
    background: url(../img/icons/light-mode.svg);
    width: 24px;
    height: 24px;
}

.navbar-control {
    display: flex;
    align-items: center;
    color: #088B33;
    border-left: 1px solid #D7E2E4;
    padding-left: 24px;
    position: sticky;
}

.navbar-control svg {
    stroke: #088B33;
}

.dropdown-toggle::after {
    content: url(../img/icons/dropdown.svg);
    border: 0;
}

.dropdown-menu {
    padding-left: 20px;
    text-align: center;
    border: none;
    overflow-x: hidden;
}

.dropdown-menu.show {
    margin-top: 10px;
    text-align: center;
    right: 0;
}

.navbar-control {
    display: flex;
    align-items: center;
    color: #088B33;
    border-left: 1px solid #D7E2E4;
    padding-left: 24px;
    position: sticky;
}

.navbar-control svg {
    stroke: #088B33;
}

.dropdown-toggle::after {
    content: url(../img/icons/dropdown.svg);
    border: 0;
}

.accordion-btn {
    color: #033714;
}

.dropdown-menu {
    z-index: 9999;
    border: none;
    margin-top: 30px;
    padding-left: 20px;
    width: fit-content;
    overflow-x: hidden;
    justify-content: end;
}

/* HERO */

.hero-container {
    background-image: url(../img/homepage/hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    width: 668px;
    gap: 16px;
}

.last-update {
    opacity: 0.5;
    gap: 15px;
}

.last-update img {
    margin-right: 15px;
    opacity: 1;
}

.subtitle {
    color: var(--color-default);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
}


.logo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0;
    gap: 24px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.logo-row::-webkit-scrollbar {
    display: none;
    /* Hide scrollbars for Webkit-based browsers (Chrome, Safari, etc.) */
}

.logo-row::-moz-scrollbar {
    display: none;
    /* Hide scrollbars for Mozilla-based browsers (Chrome, Safari, etc.) */
}

.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215.909px;
    height: 57px;
    background: #F2F5F8;
    opacity: 0.5;
    border-radius: 8px;
    cursor: pointer;
}

.features-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-description {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* RANKING CARDS */

.ranking-card {
    display: flex;
    height: 171px;
    padding: 0;
    border-radius: 16px;
    background-color: var(--color-background-2);
    margin: 12px 0;
}

.ranking-position {
    border-radius: 16px 0 0 16px;
    background: #FFF;
    padding: 0;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.10);
}

.position {
    display: flex;
    align-items: center;
    height: 33px;
    flex-shrink: 0;
    border-radius: 16px 0 0 0;
    background: linear-gradient(91deg, #4D4D4D 0%, #03170A 99.81%);
}

.gold {
    background: linear-gradient(91deg, #C39F37 0%, #EECE71 87.72%);
}

.silver {
    background: var(--Linear, linear-gradient(91deg, #A5A3A0 0%, #DEDCD5 96.04%));
}

.bronze {
    background: var(--Linear, linear-gradient(91deg, #C38337 0%, #EEBA71 96.14%));
}

.place {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.2px;
    margin-left: 5%;
}

.category {
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.32px;
}

.brand-desk {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75%;
    padding: 0 5%;

}

.offer {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-left: 5%;
}

.offer-type {
    color: var(--color-accent-1);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.offer-bonus {
    color: var(--color-default);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.64px;
}

.offer-min {
    color: var(--color-default);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.5;
}

.score {
    display: flex;
    align-items: center;
    margin-right: 5%;
    gap: 15px;
    width: max-content;
}

.score-points {
    color: var(--color-accent-1);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -2px;
}

.score-rate {
    display: flex;
    flex-direction: column;
    color: var(--color-default);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

}

.score-rate span {
    opacity: 0.5;
}

.btn-score-bonus {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    display: inline-flex;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--color-accent-1);
}
.btn-score-bonus:hover {
    color: #fff;
    background-color: #086B33;

}

.terms h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 0.6;
}

.terms h3:first-child {
    margin-top: 0;
}

.QA {
    background: var(--color-accent-1);
}

.btn-contact {
    display: flex;
    width: 267px;
    padding: 16px 28px;
    color: #086B33 !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background-color: #FFF !important;
}

.btn-contact:hover {
    background-color: #F1F1F1 !important;

}

@media screen and (max-width: 1200px) {

    .offer-bonus {
        font-size: 28px;
    }

    .btn-score-bonus {
        font-size: 12px;
        padding: 12px 28px;

    }

}


@media screen and (max-width: 991px) {

.navbar-nav>.active {
    border-bottom: none;
    border-radius: none;
    ;
}

.dropdown-menu.show {
    text-align: left;
    min-width: 20px;


}

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow-x: hidden;
        gap: 12px;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 19.6px */
    }

    .ranking-card {
        display: flex;
        flex-direction: column;
        height: auto;
        flex-shrink: 0;
        padding: 0;
        border-radius: 4px;
        background-color: var(--color-background-2);
    }

    .ranking-card-mobile {
        padding: 2%;
    }

    .ranking-card-mobile>div:last-child {
        margin-left: auto;
    }

    .ranking-position {
        border-radius: 16px;
        box-shadow: none;
    }

    .brand-desk {
        display: none;
    }

    .brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .category {
        justify-content: end;
        margin-right: 5%;
    }

    .position {
        border-radius: 4px 4px 0 0;

    }

    .place {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 12px */
        letter-spacing: -0.24px;
    }

    .category {
        text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 12px */
        letter-spacing: -0.24px;
    }

    .brand {
        display: flex;
    }

    .offer {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        margin-left: 5%;
    }

    .offer-type {
        color: var(--color-accent-1);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    .offer-bonus {
        color: var(--color-default);
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.7px;
    }

    .offer-min {
        color: var(--color-default);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        opacity: 0.5;
    }


    .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: flex-end;
        gap: 15px;
        margin-right: 0;

    }

    .score-points {
        display: flex;
        flex-direction: column;
        color: var(--green, #088B33);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.7px;

    }

    .score-rate {
        color: var(--color-default);
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        opacity: 0.5;

    }

    .btn-score-bonus {

        color: #fff;
        display: inline-flex;
        padding: 16px;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 10px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        text-wrap: nowrap;
        padding: 12px 16px;


    }

    .ranking-card-mobile{

        padding: 1% 2%;
    }

    .dropdown-menu {
        z-index: 9999;
        border: none;
        margin-top: 30px;
        margin-right: auto;
        padding-left: 20px;
        overflow-x: hidden;
        justify-content: start;

    }

}

@media screen and (max-width: 768px) {

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow-x: hidden;
        gap: 12px;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 19.6px */
    }

    .ranking-card {
        display: flex;
        flex-direction: column;
        height: auto;
        flex-shrink: 0;
        padding: 0;
        border-radius: 4px;
        background-color: var(--color-background-2);
    }

    .ranking-card-mobile {
        padding: 2%;
    }

    .ranking-card-mobile>div:last-child {
        margin-left: auto;
    }

    .ranking-position {
        border-radius: 16px;
        box-shadow: none;
    }


    .brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .category {
        justify-content: end;
        margin-right: 5%;
    }

    .position {
        border-radius: 4px 4px 0 0;

    }

    .place {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 12px */
        letter-spacing: -0.24px;
    }

    .category {
        text-align: right;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 12px */
        letter-spacing: -0.24px;
    }

    .brand {
        display: flex;
    }

    .offer {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        margin-left: 5%;
    }

    .offer-type {
        color: var(--color-accent-1);
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    .offer-bonus {
        color: var(--color-default);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.7px;
    }

    .offer-min {
        color: var(--color-default);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        opacity: 0.5;
    }


    .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: flex-end;
        gap: 15px;
        margin-right: 0;

    }

    .score-points {
        display: flex;
        flex-direction: column;
        color: var(--green, #088B33);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.7px;

    }

    .score-rate {
        color: var(--color-default);
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        opacity: 0.5;

    }

    .btn-score-bonus {

        color: #fff;
        display: inline-flex;
        padding: 8px;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 10px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;

    }

}
@media screen and (max-width: 575px) {
    .brand img {
        width: 110px;
    }


}





/* -----------
6 - EXPERIENCE
------------*/

.experience-card {
    border-radius: 12px;
    background: #088B33;
    color: #fff;
    flex-shrink: 0;
}

.experience h2 {
    color: #fff;
}

.experience h4 {
    color: #fff;
}

.experience-image {
    border-radius: 0px 12px 12px 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;
}

.figure-100 {
    height: 100%;
}

.experience-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.experience-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.experience-item--description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #FFF;
}


.questions-answers span {
    font-size: 16px;
    font-style: medium;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
}

.questions-answers p {
    opacity: 0.5;
    padding-right: 10%;
    color: #04111E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

}

.btn-contact {
    display: flex;
    width: 267px;
    padding: 16px 28px;
    border-radius: 4px;
    background: #088B33;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.btn-contact:hover {
    background: #086B33;
    color: #fff;
}

.accordion * {
    background-color: var(--color-background);
    padding-left: 0;
    padding-right: 0;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #D7E2E4;
}

.accordion-button {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.4px;
}


.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}

.accordion-button::after {
    background-image: url(../img/accordion-arrow.svg);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/accordion-arrow.svg);

}

.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;

}

.accordion-item:last-of-type {
    border: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#088B33'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.lastest-news {
    overflow: hidden;
    background: #033714;
    flex-shrink: 0;
}

.card-news img {
    border-radius: 6px;
    object-fit: cover;
}

.card-news h3 {
    color: #FFF;
    padding-right: 5px;
    text-align: left;
}

.ribbon-wrapper {
    height: 20px;
}

.ribbon {
    box-sizing: border-box;
    position: absolute;
    padding: 5px 12px;
    align-items: center;
    gap: 10px;
    background: #088B33;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    margin-top: -29px;
}

.text-ribbon {
    color: rgba(255, 255, 255);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 14px */
    margin-bottom: 8px;

}

.ribbon-date {
    color: rgba(255, 255, 255, 0.5);
}

/* FOOTER */

footer a {
    text-decoration: unset !important;
    text-transform: none;
    color: #ffffff79;


}

footer a:hover {
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
}

.hover-link {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #033714;
    color: rgba(255, 255, 255, 0.5);
}

footer h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

.footer-line {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-21 {
    width: 315px;
    margin-top: 40px;
    gap: 24px;
    max-width: 100%;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.footer-categories {
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-self: stretch;
    margin-right: 76px;
    gap: 24px;

}

.footer-categories-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.footer-policies {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;

}


/* <<<<<<<<<<<<<<<<<<< SMALLER DEVICES ≥ 1400 px  >>>>>>>>>>>>>>>>>>>>>>>>>  */


@media screen and (max-width: 1400px) {
    .navbar a {
        font-size: 14px;
    }

    .navbar-control {
        padding-left: 12px;
    }

    .dropdown-menu {
        padding-left: 0px;
    }
}

@media screen and (max-width: 991px) {



    .nav-logo {
        margin-left: 8px;
    }

    .navbar {
        position: static;
    }

    .nav-mobile.container {
        max-width: unset;
        margin-left: 0;
        left: 0;
        height: fit-content;
        min-height: calc(100svh - 60px);
        box-shadow: 0px 10px 10px 0px #0000001a;
    }

    .nav-link {
        width: fit-content;
        margin: auto;
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100dvw;
        height: 95svh;
        position: absolute;
        background-color: var(--color-background);
        z-index: 9000;
        margin-top: 10px;
        margin-left: -12px;
    }

    .navbar a {
        font-size: 20px;
    }

    .footer-categories {
        margin-right: auto;
    }

    .footer-policies {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .footer-categories {
        display: flex;
        justify-content: space-between;
        align-items: start;
        align-self: stretch;
        text-wrap: nowrap;
        margin-right: 0px;
        margin-top: 10px;
        gap: 24px;
        font-size: 14px;
    }

    .experience-box {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
    }

    .experience {
        background-color: #088B33;
    }




}

@media screen and (max-width: 767px) {


    .hero-container {
        background-image: url(../img/homepage/hero-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


    /* TYPOGRAPHY */
    p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    h1 {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -1.4px;
    }

    h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.36px;
    }

    h3 {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.4px;
    }

    h4 {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.4px;
    }

    .subtitle {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }


    .accordion {
        padding-left: 15px;
        padding-top: 15px;
    }

    .navbar-control {

        border-left: none;
        padding-left: auto;
        margin-left: auto;
        position: relative;
    }

    .hero {
        min-height: auto;
    }



    .hero-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5% 10%;
        gap: 16px;
    }



    .features-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card-image {
        margin-bottom: 30px;
    }

    .card-description {
        text-align: left;
        padding-left: 0;
    }


    .experience-card {
        border-radius: 0;
        padding: 40px;
    }

    .experience-box {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
    }

    .experience-image {
        border-radius: 0px;
    }

    .questions-answers span {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .questions h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.36px;
    }

    .btn-contact {
        display: inline-flex;
        width: 100%;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        text-wrap: nowrap;
    }

    .accordion,
    .accordion-item,
    .accordion-button,
    .accordion-body {
        padding-left: 0;

    }

    .accordion-button {
        font-size: 14px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.28px;
    }


    .lastest-news .card-description {
        display: flex;
        flex-direction: column;
    }

    .lastest-news .card-description h3 {

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.28px;
    }

    .card-news {
        display: flex;
        justify-content: center;
        margin: 15px 0;

    }

    .footer-categories-list {
        display: flex;
        flex-direction: column;
        gap: auto;
    }

    .plus-21 {
        width: auto;
    }

    .footer-categories {
        margin-top: 32px;
        display: flex;
        justify-content: flex-start;
        gap: 30%;

    }
}

@media (max-width:575px) {


    .accordion-button,
    .accordion-body {
        padding-right: 12px;

    }
}