/* 
CASINO FINDER HOME PAGE STYLESHEET

LIGHT MODE

SECTIONS: 
1 - GENERAL (root, html, body, colors, dark-mode)
2 - AD BANNER (banner, banner-content)
3 - NAVBAR (nav-logo, navbar-toggler, navbar-control, dropdown-toggle, dropdown-menu, color-scheme)
4 - HERO (hero-container, hero-box, last-update, logo-row, logo-card)
4 - FEATURES (features-card, card-description)
5 - EXPERIENCE (experience-card, experience-content, experience-image)
6 - QUESTIONS & ANSWERS (text-settings, accordion-settings, button-settings)
7 - LATEST NEWS (background, card-images, ribbon)
8 - FOOTER
9 - @medias screen and (max-width: 1400 / 992 / 768 / 576)

*/

/* GENERAL */

:root {
    --color-background: #fff;
    --color-default: #04111E;
    --color-accent-1: #088B33;

}

body {
    font-family: 'Poppins', sans-serif;
}

.text-accent {
    color: var(--color-accent-1)!important;
}



.dark-mode-img {
    display: none;
}

/* AVERTISING BANNER */

.advertising-banner {
    min-height: 43px;
    background-color: #ECF0F1;
    padding: 12px 0 12px 0;
    color: rgba(4, 17, 30, 0.5);
    font-size: 12px;
}

.advertising-banner-content {
    display: flex;
    justify-content: space-between;
}


/* HERO */

.hero-container {
    background-image: url(../img/homepage/hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15% 0;
    width: 668px;
    gap: 16px;
}

.last-update {
    opacity: 0.5;
    gap: 15px;
}

.logo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0;
    gap: 24px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.logo-row::-webkit-scrollbar {
    display: none;
    /* Hide scrollbars for Webkit-based browsers (Chrome, Safari, etc.) */
}

.logo-row::-moz-scrollbar {
    display: none;
    /* Hide scrollbars for Mozilla-based browsers (Chrome, Safari, etc.) */
}

.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215.909px;
    height: 57px;
    background: #F2F5F8;
    opacity: 0.5;
    border-radius: 8px;
    cursor: pointer;
}

/* FEATURES */


.features-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-card > .card-description {

    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}


/* EXPERIENCE */


.experience-card {
    border-radius: 12px;
    background: #088B33;
    color: #fff;
    flex-shrink: 0;
}

.experience-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.experience-content h2,
.experience-content h4,
.experience-content p  {
    color: #fff;
}

.experience-content-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.experience-content-item > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #FFF;
}

.experience-image {
    border-radius: 0px 12px 12px 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;
}

.figure-100 {
    height: 100%;
}


/* QUESTIONS & ANSWERS */

.questions-answers span {
    font-weight: 500;
}

.questions-answers p {
    opacity: 0.5;
}

.btn-contact {
    display: flex;
    width: 267px;
    padding: 16px 28px;
    border-radius: 4px;
    background: #088B33;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.btn-contact:hover {
    background: #086B33;
    color: #fff;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #D7E2E4;
    padding-left: 0;
    padding-right: 10px;
}

.accordion-body {
    padding-left: 0;

}

.accordion-button {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.4px;
    padding-left: 0;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}

.accordion-button::after {
    background-image: url(../img/icons/accordion-arrow.svg);
    margin-left: auto;

}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/accordion-arrow.svg);

}

.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;

}

.accordion-item:last-of-type {
    border: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#088B33'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* LATEST NEWS */


.lastest-news {
    overflow: hidden;
    background: #033714;
    flex-shrink: 0;
}

.card-news img {
    border-radius: 6px;
    object-fit: cover;
}

.card-news h3 {
    color: #FFF;
    padding-right: 5px;
    text-align: left;
}

.ribbon-wrapper {
    height: 20px;
}

.ribbon {
    box-sizing: border-box;
    position: absolute;
    padding: 5px 12px;
    align-items: center;
    gap: 10px;
    background: #088B33;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    margin-top: -29px;
}

.text-ribbon {
    color: rgba(255, 255, 255);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 14px */
    margin-bottom: 8px;

}

.ribbon-date {
    color: rgba(255, 255, 255, 0.5);
}

/* FOOTER */

footer a {
    text-decoration: unset !important;
    text-transform: none;
    color: #ffffff79;
}

footer a:hover {
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
}


footer {
    background-color: #033714;
    color: rgba(255, 255, 255, 0.5);
}

footer h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

footer p {
    color: rgba(255, 255, 255, 0.5);
}

.footer-line {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.legal-age {
    width: 315px;
    margin-top: 40px;
    gap: 24px;
    max-width: 100%;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.footer-categories {
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-self: stretch;
    margin-right: 76px;
    gap: 24px;

}

.footer-categories-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.footer-policies {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;

}


/* <<<<<<<<<<<<<<<<<<< SMALLER DEVICES ≥ 1400 px  >>>>>>>>>>>>>>>>>>>>>>>>>  */


@media screen and (max-width: 991px) {


    .footer-categories {
        margin-right: auto;
    }

    .footer-policies {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    

    .footer-categories {
        display: flex;
        justify-content: space-between;
        align-items: start;
        align-self: stretch;
        text-wrap: nowrap;
        margin-right: 0px;
        margin-top: 10px;
        gap: 24px;
        font-size: 14px;
    }

    .experience-content {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
    }

    .experience {
        background-color: #088B33;
    }

    .hero-container {
        background-image: url(../img/homepage/hero-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

@media screen and (max-width: 767px) {

    .accordion  {
        padding-left: 0px;
        padding-top: 15px;
    }

    .hero {
        min-height: auto;
    }



    .hero-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15% 10%;
        gap: 16px;
    }



    .features-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .features-card > .card-description {

    text-align: left;
    padding-right: 20px;
}

    .card-image {
        margin-bottom: 30px;
    }

    .card-description {
        text-align: left;
        padding-left: 0;
    }


    .experience-card {
        border-radius: 0;
        padding: 40px;
    }

    .experience-content {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
    }

    .experience-image {
        border-radius: 0px;
    }

    .questions-answers span {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .questions h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.36px;
    }

    .btn-contact {
        display: inline-flex;
        width: 100%;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        text-wrap: nowrap;
    }

    .accordion,
    .accordion-item,
    .accordion-button,
    .accordion-body {
        padding-left: 0;

    }

    .accordion-button {
        font-size: 14px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.28px;
        
    }


    .lastest-news .card-description {
        display: flex;
        flex-direction: column;
    }

    .lastest-news .card-description h3 {

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.28px;
    }

    .card-news {
        display: flex;
        justify-content: center;
        margin: 15px 0;

    }

    .footer-categories-list {
        display: flex;
        flex-direction: column;
        gap: auto;
    }

    .plus-21 {
        width: auto;
    }

    .footer-categories {
        margin-top: 32px;
        display: flex;
        justify-content: flex-start;
        gap: 30%;

    }
}

@media (max-width:575px) {
    .accordion-button,
    .accordion-body {
        padding-right: 12px;

    }
    .footer-policies a {
        font-size: 12px;
        gap: 5px;

    }
}

