@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
/* 
@media (prefers-color-scheme: dark) {
    body{
        background: #033714;
        color: #fff !important;;
    }
  }  */

html {
    font-family: 'Poppins', sans-serif;
}


.text-accent {
    color: #088B33;
}

/* -----------
1 - TYPOGRAPHY 
------------*/

p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
}

h1 {
    color: #04111E;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 76.8px */
    letter-spacing: -1.28px;
}

h2 {
    color: #04111E;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 44.8px */
    letter-spacing: -0.64px;
}

h3 {
    color: #04111E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.4px;
}

h4 {
    color: #04111E;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.4px;
}


.subtitle {
    color: #04111E;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    letter-spacing: -0.4px;

}



/* -----------
2 - NAV-BAR & AVERTISING BANNER
------------*/

.advertising-banner {

    min-height: 43px;
    flex-shrink: 0;
    background-color: #ECF0F1;
    padding: 12px 0 12px 0;
    color: rgba(4, 17, 30, 0.5);
    font-size: 12px;
}

.advertising-banner-content {
    display: flex;
    justify-content: space-between;
}


.nav-logo {
    color: #04111E;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.navbar-control {
    display: flex;
    align-items: center;
    color: #088B33;
    border-left: 1px solid #D7E2E4;
    padding-left: 24px;
    margin-left: 24px;
    position: sticky;
}

.navbar-links {
    z-index: 9999;

}

.navbar-control svg {
    stroke: #088B33;
}

.navbar-control .dropdown-toggle {
    color: #088B33;
}


header {
    min-height: 93px;

}

.navbar-links {
    display: flex;
    text-align: center;

}



/* -----------
3 - HERO
------------*/

.hero {
    background-image: url('/assets/img/hero.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15% 0;
    width: 668px;
    gap: 16px;
}

.last-update {
    opacity: 0.5;
    gap: 15px;
}

.last-update img {
    margin-right: 15px;
}

/* -----------
4 - CAROUSEL LOGOS
------------*/

.logo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0;
    gap: 24px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.logo-row::-webkit-scrollbar {
    display: none;
    /* Hide scrollbars for Webkit-based browsers (Chrome, Safari, etc.) */
}


.logo-row::-moz-scrollbar {
    display: none;
    /* Hide scrollbars for Webkit-based browsers (Chrome, Safari, etc.) */
}

.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215.909px;
    height: 57px;
    flex-shrink: 0;
    background: #F2F5F8;
    opacity: 0.5;
    border-radius: 8px;

}

/* -----------
5 - FEATURES
------------*/

.features-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    margin-bottom: 30px;
}

.card-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

/* -----------
6 - EXPERIENCE
------------*/

.experience-card {
    border-radius: 12px;
    background: #088B33;
    color: #fff;
    flex-shrink: 0;
}

.experience h2 {
    color: #fff;
}

.experience h4 {
    color: #fff;
}

.experience-image {
    border-radius: 0px 12px 12px 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;

}

.figure-100 {
    height: 100%;
}

.experience-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.experience-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.experience-item--description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #FFF;

}


/* -----------
7 - QUESTIONS
------------*/

.questions-answers span {
    font-size: 16px;
    font-style: medium;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
}

.questions-answers p {
    opacity: 0.5;
    padding-right: 10%;
    color: #04111E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

}

.btn-contact {
    display: flex;
    width: 267px;
    padding: 16px 28px;
    border-radius: 4px;
    background: #088B33;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}


.btn-contact:hover {
    background: #086B33;
    color: #fff;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #D7E2E4;
}

.accordion-button {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.4px;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;

}


/* -----------
8 - LATEST NEWS
------------*/

.lastest-news {
    overflow: hidden;
    background: #033714;
    flex-shrink: 0;
}



.card-news img {
    border-radius: 6px;

}

.card-news h3 {
    color: #FFF;
    padding-right: 5px;
    text-align: left;
}

.ribbon-wrapper {
    height: 20px;
}

.ribbon {
    box-sizing: border-box;
    position: absolute;
    padding: 5px 12px;
    align-items: center;
    gap: 10px;
    background: #088B33;
    font-size: 14px;
    text-align: center;
    z-index: 9999;
    margin-top: -29px;
}

.text-ribbon {
    color: rgba(255, 255, 255);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 14px */

}

.ribbon-date {
    color: rgba(255, 255, 255, 0.5);

}


/* -----------
9 - FOOTER
------------*/


footer {
    background-color: #033714;
    color: rgba(255, 255, 255, 0.5);

}

.footer-line {
    border: 1px solid rgba(255, 255, 255, 0.1);

}

.plus-21 {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.footer-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.footer-categories-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.aaa {
    color: #ffffff79
}


/* <<<<<<<<<<<<<<<<<<< SMALL DEVICES ≥ 768 px  >>>>>>>>>>>>>>>>>>>>>>>>>  */


@media screen and (max-width: 768px) {


    /* -----------
1 - TYPOGRAPHY 
------------*/

    p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    h1 {
        color: #04111E;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -1.4px;
    }

    h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.36px;
    }

    h3 {
        color: #04111E;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.4px;
    }

    h4 {
        color: #04111E;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.4px;
    }

    .subtitle {
        color: #04111E;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 22.4px */
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        height: 100dvw;

        justify-content: space-around;
        align-items: center;
        align-content: center;
        color: #04111E;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 28px */
        padding-left: 0;

    }

    .navbar-control {
        border-left: none;
        position: static;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-collapse {
        text-align: center;

    }

    /* -----------
2 - HERO
------------*/

    .hero {
        background-image: url('/assets/img/hero-mobile.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }


    .hero-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15% 10%;
        gap: 16px;
    }


    /* -----------
5 - FEATURES
------------*/

    .features-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card-image {
        margin-bottom: 30px;
    }

    .card-description {
        text-align: left;
        padding-left: 0;
        gap: 0;
    }

    /* -----------
6 - EXPERIENCE SECTION
------------*/

    .experience {
        background-color: #088B33;
    }

    .experience-card {
        border-radius: 0;
        padding: 40px 0;
    }

    .experience-image {
        border-radius: 0px;
    }

    /* -----------
7 - QUESTIONS
------------*/


    .questions-answers span {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .questions h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.36px;
    }

    .btn-contact {
        display: inline-flex;
        width: 100%;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
    }



    .accordion,
    .accordion-item,
    .accordion-button,
    .accordion-body {
        padding-left: 0;

    }

    .accordion-button {
        font-size: 14px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.28px;
    }

    
    .lastest-news .card-description {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card-news {
        display: flex;
        justify-content: center;

    }


    /* -----------
8 - LATEST NEWS
------------*/



    /* -----------
9 - FOOTER
------------*/




}