@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


:root {
    --color-background: #fff;
    --color-default: #04111E;
    --color-accent-1: #088B33;
}

body {
    font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #033714;
        color: #fff !important;
        ;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    .subtitle,
    .nav-logo,
    li a {
        color: #FFF !important;
    }


    .color-scheme {
        display: flex;
        background: url('/assets/img/icons/dark.svg') !important;
        width: 24px;
        height: 24px;

    }

    .logo-card {
        background: #051C0D;
        opacity: 0.5;
    }



    button.accordion-button,
    button.accordion-button:active,
    button.accordion-button:focus,
    button.accordion-button:not(.collapsed),
    .accordion-body {
        background-color: #033714;
        color: #FFF;
    }
}

.text-accent {
    color: var(--color-accent-1);
}

/* TYPOGRAPHY */

p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

h1 {
    color: #04111E;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1.28px;
}

h2 {
    color: #04111E;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.64px;
}

h3 {
    color: #04111E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.4px;
}

h4 {
    color: #04111E;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.4px;
}

/* AVERTISING BANNER */

.advertising-banner {
    min-height: 43px;
    background-color: #ECF0F1;
    padding: 12px 0 12px 0;
    color: rgba(4, 17, 30, 0.5);
    font-size: 12px;
}

.advertising-banner-content {
    display: flex;
    justify-content: space-between;
}

/* NAVBAR */

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
    padding-left: 0;
}

.navbar-control .dropdown-toggle,
.navbar-control .dropdown-toggle:focus,
.navbar-control .dropdown-toggle:active {
    color: var(--color-accent-1);
    border-color: transparent;
    display: flex;
    align-items: center;
}

.nav-logo {
    color: var();
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.color-scheme {
    display: flex;
    background: url('/assets/img/icons/light.svg');
    width: 24px;
    height: 24px;
}

/* STATES DROPDOWN */

.navbar-control {
    display: flex;
    align-items: center;
    color: #088B33;
    border-left: 1px solid #D7E2E4;
    padding-left: 24px;
    position: sticky;
}

.navbar-control svg {
    stroke: #088B33;
}

.dropdown-toggle::after {
    content: url('/assets/img/icons/dropdown.svg');
    border: 0;
}

.accordion-btn {
    color: #033714;
}

.dropdown-menu {
    z-index: 9999;
    border: 0px;
    margin-top: 20px;
    padding-left: 20px;
    width: fit-content;
}

/* HERO */

.hero {
    min-height: 90vh;
}

.hero-container {
    background-image: url('/assets/img/hero.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15% 0;
    width: 668px;
    gap: 16px;
}

.last-update {
    opacity: 0.5;
    gap: 15px;
}

.last-update img {
    margin-right: 15px;
    opacity: 1;

}

.subtitle {
    color: var(--color-default);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
}


.logo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0;
    gap: 24px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.logo-row::-webkit-scrollbar {
    display: none;
    /* Hide scrollbars for Webkit-based browsers (Chrome, Safari, etc.) */
}

.logo-row::-moz-scrollbar {
    display: none;
    /* Hide scrollbars for Mozilla-based browsers (Chrome, Safari, etc.) */
}

.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215.909px;
    height: 57px;
    background: #F2F5F8;
    opacity: 0.5;
    border-radius: 8px;
}

.features-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card-description {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* -----------
6 - EXPERIENCE
------------*/

.experience-card {
    border-radius: 12px;
    background: #088B33;
    color: #fff;
    flex-shrink: 0;
}

.experience h2 {
    color: #fff;
}

.experience h4 {
    color: #fff;
}

.experience-image {
    border-radius: 0px 12px 12px 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;
}

.figure-100 {
    height: 100%;
}

.experience-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.experience-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.experience-item--description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #FFF;
}


.questions-answers span {
    font-size: 16px;
    font-style: medium;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
}

.questions-answers p {
    opacity: 0.5;
    padding-right: 10%;
    color: #04111E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

}

.btn-contact {
    display: flex;
    width: 267px;
    padding: 16px 28px;
    border-radius: 4px;
    background: #088B33;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.btn-contact:hover {
    background: #086B33;
    color: #fff;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #D7E2E4;
}

.accordion-button {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.4px;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;

}

.lastest-news {
    overflow: hidden;
    background: #033714;
    flex-shrink: 0;
}

.card-news img {
    border-radius: 6px;
    object-fit: cover;
}

.card-news h3 {
    color: #FFF;
    padding-right: 5px;
    text-align: left;
}

.ribbon-wrapper {
    height: 20px;
}

.ribbon {
    box-sizing: border-box;
    position: absolute;
    padding: 5px 12px;
    align-items: center;
    gap: 10px;
    background: #088B33;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    margin-top: -29px;
}

.text-ribbon {
    color: rgba(255, 255, 255);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 14px */
    margin-bottom: 8px;

}
.ribbon-date {
    color: rgba(255, 255, 255, 0.5);
}

footer {
    background-color: #033714;
    color: rgba(255, 255, 255, 0.5);
}

footer h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

.footer-line {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-21 {
    width: 315px;
    margin-top: 40px;
    gap: 24px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.footer-categories {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-right: 76px;
}

.footer-categories-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.footer-policies {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;

}


/* <<<<<<<<<<<<<<<<<<< SMALLER DEVICES ≥ 1400 px  >>>>>>>>>>>>>>>>>>>>>>>>>  */


@media screen and (max-width: 1400px) {
    .navbar a {
        font-size: 14px;
    }

    .navbar-control {
        padding-left: 12px;
    }

    .dropdown-menu {
        padding-left: 0px;
    }
}

@media screen and (max-width: 992px) {

    .nav-mobile {
        width: 100dvw;
        position: absolute;
        background-color: #fff;
        z-index: 9000;
        gap: 1000px;
        margin-top: 10px;
        margin-left: -12px;
        padding: 10%;
    }

    .nav-mobile ul:first-child {
        margin-bottom: 172px;
    }

    .navbar a {
        font-size: 20px;
    }

    .footer-categories {
        margin-right: auto;
    }


    .footer-policies {
        display: flex;
        gap: 10px;
        flex-wrap: nowrap;

    }


}

@media screen and (max-width: 768px) {

    /* TYPOGRAPHY */
    p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    h1 {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -1.4px;
    }

    h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.36px;
    }

    h3 {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.4px;
    }

    h4 {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.4px;
    }

    .subtitle {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }


    .navbar-control {

        border-left: none;
        padding-left: auto;
        margin-left: auto;
        position: relative;
    }

    .hero {
        min-height: auto;
    }

    .hero-container {
        background-image: url('/assets/img/hero-mobile.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }


    .hero-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15% 10%;
        gap: 16px;
    }



    .features-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card-image {
        margin-bottom: 30px;
    }

    .card-description {
        text-align: left;
        padding-left: 0;
    }


    .experience {
        background-color: #088B33;
    }

    .experience-card {
        border-radius: 0;
        padding: 40px 0;
    }

    .experience-image {
        border-radius: 0px;
    }

    .questions-answers span {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .questions h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.36px;
    }

    .btn-contact {
        display: inline-flex;
        width: 100%;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        text-wrap: nowrap;
    }

    .accordion,
    .accordion-item,
    .accordion-button,
    .accordion-body {
        padding-left: 0;

    }

    .accordion-button {
        font-size: 14px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.28px;
    }


    .lastest-news .card-description {
        display: flex;
        flex-direction: column;
    }

    .lastest-news .card-description h3 {

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.28px;
    }

    .card-news {
        display: flex;
        justify-content: center;
        margin: 15px 0;

    }

    .footer-categories-list {
        display: flex;
        flex-direction: column;
        gap: auto;
    }

    .plus-21 {
        width: auto;
    }

    .footer-categories {
        margin-top: 32px;
    }

}